<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/css/mystyles.css">
    {% endblock head %}
</head>

<body>
    <section class="hero is-primary is-bold is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">last-date</h1>
                <h2 class="subtitle is-6">When did you do it last time?</h2>
            </div>
        </div>
    </section>

    {% block content %}{% endblock content %}
</body>

</html>
