@charset "utf-8";

$section-padding: 1rem 1.5rem;

.table tbody tr td { vertical-align: middle; }

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
