@charset "utf-8";

@use "bulma/sass/utilities";

@use "bulma/sass/base";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/notification";
@use "bulma/sass/elements/table";
@use "bulma/sass/elements/title";
@use "bulma/sass/form";
@use "bulma/sass/grid";
@use "bulma/sass/layout/footer";
@use "bulma/sass/layout/hero";
@use "bulma/sass/layout/section";
@use "bulma/sass/themes";

$section-padding: 1rem 1.5rem;

.table tbody tr td { vertical-align: middle; }
.button { margin: 0.2em auto; }

// Use the same font color for both light and dark modes
// to avoid buttons with inappropriately low contrast.
//     Note that button's background color is decided by the user.
.button.label-button { color: black; }
.tag.label-tag { color: black; }
